@tailwind base;
@tailwind components;
@tailwind utilities;

.font-clash-display-variable {
  font-family: 'ClashDisplay-Variable', sans-serif;
  font-variation-settings: 'wght' var(--font-weight, 400);
}

body {
  background-color: #ffffff;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
}
